


*{margin: 0px;padding: 0px;}

body{
  color: white;
  background-image: url(../imagenes/po.jpg);
  text-align: center;
  background-attachment: fixed;}


h1#lil{
  background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
  border: 3px solid #364ad5;
  text-align: left;
  font-size: 25px;
  padding: 10px 10px 10px 20px;
  color: white;}

h1#lil1{
  font-weight: bold;
  text-align: left;
  font-size: 30px}
  h2{
    font-weight: normal;}

p#gus{
  text-align:right;}
p#gus2{
  text-align: right;}


 div#caja1{
margin-top: 1px;
   background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
   border: 3px solid #364ad5;
   text-align: left;
  padding: 10px 10px 10px 20px}

  div#caja1 nav ul a:hover,
  div#caja1 nav ul a:active{
    background-color:rgba(0, 8, 115, 0.91);}

  div#caja1 nav ul a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;}

 div#caja45{
   background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
   border: 3px solid #364ad5;
   text-align: left;
  margin: 20px 400px 20px 20px;
  width: 900px;
  color: white;
  font-size: 20px;}

img#linkin{
  border: 3px solid #364ad5;}

 div#caja3{
   font-size: 20px;
   color: white;
   background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
   text-align: left;
   width: 900px;
   border: 3px solid #364ad5;
  margin: 20px 400px 20px 20px }

  Aside{
    font-size: 20px;
    border: 3px solid #364ad5;
    position: absolute;
    right: 0px;
    top: 135px;
    background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
    width: 300px;
    height: px;
    padding: 20px 10px 20px 60px;
    text-align: left;}

    footer{
      width: 100%;
      height: 40px;
      background-image: radial-gradient(rgba(16, 147, 242, 0.88),rgb(0, 5, 52));
      border-top:3px solid #364ad5;}
